<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "_shared/head.html" . -}}
    <body>
        {{- block "header" . }}{{- end }}
        <div class="site-content">   
            <div class="container">
                {{- block "main" . }}{{- end }}
            </div>
            {{- block "footer" . }}{{- end }}
        </div>
        {{- partial "_shared/js.html" . -}}
        {{ template "_internal/google_analytics.html" . }}

{{ if or (.Site.Params.asciinema) (.Params.asciinema) }}
{{ if .Params.asciinema }}
    <script src="{{ .Site.BaseURL }}/js/asciinema-player.js"></script>
{{ end }}
{{ end }}

{{ if or (.Site.Params.copy2clipboard) (.Params.copy2clipboard) }}
{{ if .Params.copy2clipboard }}
    <script src="{{ .Site.BaseURL }}/js/clipboard.js"></script>
{{ end }}
{{ end }}
    </body>
</html>
